   <div class="header"><h4><i class="fas fa-microphone-alt fa-2x"  style="transform: rotate(179deg);"></i> <a href="/" style="margin-bottom: 0;color:white;text-decoration: none;">Open Conference</a></h2></div>
<div class="row mt-5" id="welcome">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center" style="border: none;
    background: #fff0;">
      <h1 id="welcomeText" style="font-size:3vw;" class="animate__animated animate__fadeInLeft animate___slow"><i class="fas fa-microphone-alt fa-2x "  style="transform: rotate(179deg);" ></i>
OPEN CONFERENCE</h1>
      <p class=" animate__animated animate__fadeIn animate__delay-1s" style="color:orange; ">An Open Source Private Video Conferencing Application</p> 
    </div>
  </div>
  <div class="col-md-6 m-auto animate__animated animate__fadeIn animate__delay-2s animate__slow ">
    <div class="card card-body text-center " id="getStarted">
      <h1>Get Started Now</h1>
     <i class="fas fa-user fa-3x"></i>
      <p>Create an account or login</p>
      
      <a href="/users/register" class="btn btn-primary btn-block mb-2 "
        >Register</a
      >
       <p style="text-align: left;color:grey">Aleady Have an Account?</p>
      <a href="/users/login" class="btn btn-secondary btn-block ">Login <i class="fas fa-key"></i></a>
    </div>
  </div>
</div>
